<div class="tabs hidden-xs hidden-sm">
  <div class="tabs-item dropdown">
  <span>Qui sommes-nous ?<span>
    <div class="dropdown-content">
      <div><%= link_to 'L\'association ESF', "association.html" %></div>
      <hr>
      <div><%= link_to 'Notre équipe', "equipe.html" %></div>
      <hr>
      <div><%= link_to 'Nos objectifs', "nosobjectifs.html" %></div>
      <hr>
      <div><%= link_to 'Nos partenaires', "nosparten.html" %></div>
    </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Actions en cours</span>
      <div class="dropdown-content">
        <div><%= link_to 'INFOCARTOON', "infocartoon.html" %></div>
        <hr>
        <div><%= link_to 'EUROCOLO', "eurocolo.html" %></div>
        <hr>
        <div><%= link_to 'EUROFORT', "eurofort.html" %></div>
        <hr>
        <div><%= link_to 'ICE : Voters Without Borders', "icevoters.html" %></div>
        <hr>
        <div><%= link_to 'Passeport européen', "passeport.html" %></div>
      </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Participez</span>
    <div class="dropdown-content">
      <div><%= link_to 'Exprimez-vous !', "exprimez.html" %></div>
      <hr>
      <div><%= link_to 'Rejoignez-nous !', "rejoignez.html" %></div>
      <hr>
      <div><%= link_to 'Soutenez-nous !', "soutenez.html" %></div>
    </div>
    </div>
    <div class="tabs-item dropdown">
      <span><a href="contact.html">Contact</a></span>
    </div>
    <div class="tabs-item dropdown">
      <span><a href="mailto:contact@europeenssansfrontieres.eu"><i class="fa fa-envelope"></i></a></span>
    </div>
  </div><!-- Fin tabs -->

