<div class="tabs hidden-xs hidden-sm">
  <div class="tabs-item dropdown">
    <span>Qui sommes-nous ?<span>
      <div class="dropdown-content">
        <div><%= link_to 'L\'association ESF', "#" %></div>
        <hr>
        <div><%= link_to 'Notre équipe', "#" %></div>
        <hr>
        <div><%= link_to 'Nos objectifs', "#" %></div>
        <hr>
        <div><%= link_to 'Nos partenaires', "#" %></div>
    </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Actions en cours</span>
      <div class="dropdown-content">
        <div><%= link_to 'INFOCARTOON', "#" %></div>
        <hr>
        <div><%= link_to 'EUROCOLO', "#" %></div>
        <hr>
        <div><%= link_to 'EUROFORT', "#" %></div>
        <hr>
        <div><%= link_to 'ICE : Voters Without Borders', "#" %></div>
        <hr>
        <div><%= link_to 'Passeport européen', "#" %></div>
      </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Participez</span>
     <div class="dropdown-content">
        <div><%= link_to 'Exprimez-vous !', "#" %></div>
        <hr>
        <div><%= link_to 'Rejoignez-nous !', "#" %></div>
        <hr>
        <div><%= link_to 'Soutenez-nous !', "#" %></div>
      </div>
  </div>
  <div class="tabs-item dropdown">
    <span><a href="contact.html">Contact</a></span>
  </div>
  <div class="tabs-item dropdown">
    <span><i class="fa fa-envelope" href="mailto:contact@europeenssansfrontieres.eu"></i></span>
  </div>
</div><!-- Fin tabs -->

